#a1{
    background-color: black;
    color:white;
    padding:20px;
    width: 100%;
}
#h1,ul,li{
    display: inline-block;
}
#total:hover{
    color:black;
          
}
ul{
    color:rgb(236, 239, 243);
}
ul{
    margin-left:60%;
}
li:hover{
    color: red;
    cursor:grab;
}
input{
    width:70%;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
    
}
#a2{
    border-style: solid;
    border-color:black;
    border-width: 2px;
    display: inline-block;
    height:250px;
    width: 200px;
    margin-top:80px;
    
}
#i1{
    padding-top: 15px;
}
#p1{
    padding-left:10px;
}

#a3{
    border-style: solid;
    border-color:black;
    border-width: 2px;
    height:250px;
    width: 250px;
    display: inline-block;
}
#i2{
    padding-left:10px;
    padding-top: 15px;
}

#p2{

    padding-left:20px;
    padding-bottom:13px;
}
#a4{
    border-style: solid;
    border-color:black;
    border-width: 2px;
    height:250px;
    width: 250px;
    display: inline-block;
    
}
#i3{
    height: 150px;
    padding-top: 13.5px;
    padding-left:25px;
}
#p3{
    padding-left:20px;
}
#total{
    text-align: center;
}
#a2:hover,#a3:hover,#a4:hover{
    background-color: black;
    color:white;
}
#h2{
    text-align: center;
}
#p4{
    text-align: center;
}
#final{
    background-color: black;
    color:white;
    text-align: center;
    padding-bottom: 15px;
}
#h3{
    position: relative;
    top: 15px;
    
}
#l{
    position: relative;
    bottom: 15px;
}